.academic{
    background: var(--formacion--color);
    width: 100%;
    padding: 25px 25px 10px 25px;
    display: grid;
}

@media (max-width: 768px) {
    .academic{
        width: 100%;
    }
}

@media (max-width: 425px) {
    .academic{
        width: 100%;
    }
}
