.skills__box{
    display: inline-flex;
    width: 104px;
    height: 102px;
    padding: 10px;
    margin: 12px;
    justify-content: center;
    align-items: flex-start;
    background-color: gray;
}