.skills{
    display: grid;
    width: 100%;
    padding: 25px 25px 14px 25px;
    background: var(--skills-hobbies); 
    align-items: center;  
}

@media (max-width: 768px) {
    .skills{

    }
}

@media (max-width: 425px) {
    .skills{

    }
}