.menu{
    display: flex;
    width: 100%;
    padding: 15px 25px 5px 25px;
    justify-content: space-around;
    background: var(--color-de-fundo);
    border-radius: 8px;
    align-content: stretch;
    align-items: stretch;
}

@media (max-width: 768px) {
    .menu{
        display: flex;
        justify-content: center;
        flex-direction: row;
        
    }
}

@media (max-width: 425px) {
    .menu{
        display: flex;
        width: 100%;
        padding: 15px;
        justify-content: space-between;
        align-items: center;
        background: var(--color-de-fundo);
        flex-direction: row;
}
}