.hobbies{
    display: grid;
    width: 100%;
    padding: 25px 25px 14px 25px;
    align-items: center;
    background: var(--skills-hobbies);
    
}

@media screen and (max-width: 768px) {
    .hobbies{
        width: 100%;
    }
}

@media screen and (max-width: 425px) {
    .hobbies{
        width: 100%;
    }
}