.formcontato__img{
    background-image: url(../../imagenes/unsplash_JYGnB9gTCls.png);
}

img.formcontato__img{
    float: left;
    max-width: 22.5%;
}

@media screen and (max-width: 425px) {
    img.formcontato__img .formcontato__img{
        background-image: none;
        float: none;
        }
    }

    