.formcontato{
    background: var( --color-de-fondo-contato);
    display:inline;
    width: 100%;
}

@media (max-width: 768px) {
    .formcontato{

    }
}

@media (max-width: 425px) {
    .formcontato{

    }
}