.formcontato__textarea{
    display: block;
    margin: 0 auto;
}

#mensagem.formcontato__textarea {
    padding: 10px 2px 15px 2px;
    border: 5px;
    width: 50%;
    border-radius: 15px;
}

@media (max-width: 425px) {
    #mensagem.formcontato__textarea{
        width: 75%;
    }
}

