.formcontato__img{
    width: 30%;
    height: 400px;
    padding: 2% 34%;
}


@media screen and (max-width: 425px) {
    .formcontato__img{
        width: 34%;
        height: 168px;
        padding: 4% 32% 0;
        }
    }

    