.formcontato{
    background: var( --color-de-fondo-contato);
    display:inline;
    width: 100%;
    padding: 25px 25px 25px 25px;
}

@media screen and (max-width: 768px) {
    .formcontato{
        width: 100%;
    }
}

@media screen and (max-width: 425px) {
    .formcontato{
        width: 100%
    }
}