.formcontato{
    background: var( --color-de-fondo-contato);
    display:inline;
    width: 100%;
    padding: 25px 25px 25px 25px;
}

@media (max-width: 768px) {
    .formcontato{

    }
}

@media (max-width: 425px) {
    .formcontato{

    }
}