.formcontato__subtext{
    display: block;
    text-align: center;
    font-size: 18px;   
}
    @media screen and (max-width: 425px) {
    .formcontato__subtext{
        display: block;
        text-align: center;
        font-size: 18px; 
        }
    }