.formcontato__botao{
    margin: 15px;
    display: inline-block;
    padding: 5px 10px 5px 10px;
    width: 120px;
    height: 47px;
    border: 10px;
    background-color: #6EA6FF;
    border-radius: 12px;
    color: white;
    font-size: 14px;
    left: 62%;
    position: relative;
    
}

.formcontato__botao:hover{
    transition: 0.5s;
    background-color: #2B6EFF;
}

@media (max-width: 425px) {
    .formcontato__botao{
       left: 30%;
   }
}