.experience{
   display: grid;
   padding: 20px 10px 10px 20px;
   width: 100%;
   background: var(--color-de-fundo);    
}

@media (min-width: 768px) {
   .experience{
      
   }
}

@media (min-width: 425px) {
    .experience{
      
   }
}