.experience{
   background: var(--color-de-fundo);
   display: grid;
   width: 100%;
   padding: 25px 25px 0 0;      
}

@media screen and (max-width: 768px) {
   .experience{
      width: 100%;
   }
}

@media screen and (max-width: 425px) {
    .experience{
      width:100%;
   }
}