.titulo{
    display: inline-block;
    width: 1136px;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .titulo{
        width: 100%
    }
}

@media screen and (max-width: 425px) {
    .titulo{
        width: 100%
    }
}
